/* Hide publishing options for Group post type */
.post-type-gc_user_groups #minor-publishing {
	display: none;
}

/* Hide advanced profile settings for non-administrators */
body:not(.user-role-administrator) #your-profile h2,
body:not(.user-role-administrator) #your-profile h3,
body:not(.user-role-administrator) #your-profile h3 ~ p,
body:not(.user-role-administrator) #your-profile tr,
#your-profile tr.user-rich-editing-wrap,
#your-profile tr.show-admin-bar,
#your-profile tr.user-admin-color-wrap,
#your-profile tr.user-comment-shortcuts-wrap,
#your-profile [id*='itsec-'],
#your-profile #two-factor-user-options,
#your-profile #two-factor-user-options ~ p,
#your-profile .two-factor-methods-table {
	display: none;
}

/* Display name and password fields */
#your-profile tr.user-first-name-wrap,
#your-profile tr.user-last-name-wrap,
#your-profile tr.user-pass1-wrap {
	display: table-row !important;
}
#your-profile p.submit {
	display: block !important;
}



/* TO BE REVIEWED */
.upload-php .add-new-h2,
.toplevel_page_nestedpages .add-new-h2 {
	display: none;
}
.acf-field-advanced-taxonomy-selector select {
	height: 200px !important;
	max-width: 100% !important;
	width: 100% !important;
}
